
<script src="/assets/js/main.js" defer></script>
<main id="auth-main">
    <section>
        <div class="login-container">
            <h1>Login</h1>
            <form id="signInForm">
             
                <div class="input-group">
                    <div class="label">
                        <label for="email">Email:</label>
                    </div>
                    <input type="email" id="email" name="Email" required placeholder="example@abc.com">
                </div>
                <div class="input-group">
                    <div class="label">
                        <label for="password">Password:</label>
                     </div>
                    <input type="password" id="password" name="Password" required placeholder="Enter your password">
                </div>
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="#" id="signup">Sign up</a></p>
            </form>
            <p id="error-message" style="color:rgb(238, 94, 94)"></p>
        </div>
        <div id="loading" style="display: none;">
            <p>Loading...</p>
          </div>
    </section>

</main>
   

