
<script src="assets/js/main.js" defer></script>
<main id="auth-main">
  <div class="login-container">
    <h1>Sign Up</h1>
    <form id="signUpForm">
      <div class="input-group">
        <div class="label">
            <label for="name">Full Name:</label>
        </div>
        <input type="text" id="name" name="fullname" required placeholder="abc">
    </div>
        <div class="input-group">
          <div class="label">
            <label for="email">Email:</label>
          </div>
          <input type="email" id="email" name="Email" required placeholder="example@abc.com">
        </div>
        <div class="input-group">
          <div class="label">
            <label for="password">Password:</label>
          </div>
          <input type="password" id="password" name="Password" required placeholder="Enter your password">
        </div>
        <button type="submit">Sign Up</button>
        <p>Already have an account? <a href="#" id="login">Login here</a></p>
      </form>
      
      <p id="error-message" style="color:rgb(238, 94, 94)"></p>
      
</div>
<p id="error-message" style="color:rgb(238, 94, 94)"></p>
</main>



